/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$dark-blue: #0080A9;
$light-blue: #00A4D9;
$yellow: #FCCE06;
$light-yellow: #FCDE81; 
$pink: #D51D7E;
$light-pink: #E58EAC;
$grey: #757676;